.alp_container {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .alp_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }